{% extends 'base/base.html' %} 
{% block content %}
<h1><b>Название: </b>{{ feature.title }}</h1>
<hr>
<div>
    <p><a href="{% url 'quality_control:feature_update' feature.id %}">Изменить Feature request</a></p>
    <p><a href="{% url 'quality_control:feature_delete' feature.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот feature request?');">Удалить Feature request</a></p>
    <h2>О Проекте</h2>
    <p><b>Название: </b><a href="{% url 'tasks:project_detail' feature.project.id %}">{{ feature.project.name }}</a></p>
    <p><b>Описание: </b>{{ feature.project.description }}</p>
    <hr>
</div>
<div>
    <h2>О задачах </h2> 
    <p><b>Название: </b><a href="{% url 'tasks:task_detail' feature.project.id feature.task.id %}">{{ feature.task.name }}</a></p>
    <p><b>Описание: </b>{{ feature.task.description }}</p>
    <hr>
</div>
<h2>Дополнительно</h2>
<p><b>Статус: </b>{{ feature.status }}</p>
<p><b>Описание: </b>{{ feature.descriprion }}</p>
<p><b>Приоритет: </b>{{ feature.priority }}</p>
<p><b>Дата создания: </b>{{ feature.created_at }}</p>
<p><b>Дата обновления: </b>{{ feature.updated_at }}</p>
<hr>
{% endblock %}
